.page {
  font-family: 'Inter', Arial, sans-serif;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 48px 23px 48px;
}

@media screen and (max-width: 1024px) {
  .page {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px 24px 24px;
  }
}

