.content {
  margin: 0 auto;
  padding: 52px 0 0;
  width: calc(100% - 200px);
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
    padding: 48px 0 0;
  }
} 

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 48px 0 0;
  }
} 