.lead__title {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 96px;
	font-weight: 900;
	line-height: 1.04;
	max-width: 720px;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {
	.lead__title {
		width: calc(100% - (24px * 2));
		font-size: 96px;
		line-height: 1.041;
	}	
}

@media screen and (max-width: 750px) {
	.lead__title {
		font-size: 12vw;
	}	
}

@media screen and (max-width: 320px) {
	.lead__title {
		width: calc(100% - (16px * 2));
		font-size: 40px;
		line-height: 1.1;
	}	
}