.cover_margin {
  margin: 92px auto;
}

@media screen and (max-width: 768px) {
  .cover_margin {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover_margin {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}