.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - (48px * 2));
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - (24px * 2));
  }
}
