.place__url-heading {
  margin: 0 0 12px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 20px;
  color: #AAAAAA;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    line-height: 12px;
  }
}