.intro__title {
  margin: 0;
  padding: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.074;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .intro__title {
    font-size: 40px;
  }
}



@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.095;
  }
}